:root {
  --bg-color: #100e1d;
  --current-weather-section: #1e213a;
  --grey: #6e707a;
  --bg-card: #1e213a;
  --card-text: #e7e7eb;
  --bar: #ffec65;
  --greyish-blue: #585676;
  --search-btn: #3c47e9;
  --side-bar: #1e213a;
  --btn-text: #e7e7eb;
  --current-weather-text: #a09fb1;
}
