@use "../util" as *;

.current {
  background-color: var(--current-weather-section);
  padding: 4.2em 4.6em;
  flex: 1;
  @include flex(column, flex-start, center);
  gap: 5em;
  color: var(--current-weather-text);
  font-family: "Raleway", sans-serif;
  position: relative;

  @include large {
    max-width: 800px;
  }

  @include mobile {
    width: 100%;
  }

  &__search {
    @include flex(row, space-between, center);
    width: 100%;

    @include large {
      flex-direction: column;
      gap: 3em;
      align-items: flex-start;
    }

    &-btn {
      color: var(--btn-text);
      border: none;
      background-color: var(--grey);
      padding: 1.1rem 1.8rem;
      font-size: 1.6rem;
    }
  }

  &__weather {
    @include flex(column, flex-start, center);
    flex: 1;
    gap: 7em;
    font-weight: 600;

    &-temp {
      font-size: 4.8rem;
      font-weight: 500;

      .digit {
        color: white;
      }
    }
    &-term {
      font-size: 3.6rem;
      text-transform: capitalize;
      text-align: center;
    }

    &-more_info {
      @include flex(column, center, center);
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 1px;
      color: #88869d;
      text-align: center;

      i {
        font-size: 2rem;
      }
    }
  }
}
